  <mat-drawer-container
    [class.drawer-opened]="drawer.opened"
    class="example-container">
    <mat-drawer #drawer class="drawer" mode="side" opened="true">

      <mat-toolbar class="header">
        <div>Logo</div>
        <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
      </mat-toolbar>

      <div class="contents">
        <a [routerLink] = "['#']" mat-list-item><mat-icon>notifications</mat-icon>Home</a>
        <a [routerLink] = "['#']" mat-list-item><mat-icon>message</mat-icon>Products</a>
        <a [routerLink] = "['#']" mat-list-item><mat-icon>account_box</mat-icon>About</a>
        <a [routerLink] = "['#']"mat-list-item ><mat-icon>exit_to_app</mat-icon>ContactUs</a>
      </div>
    </mat-drawer>

    <mat-toolbar class="main header">
      <mat-icon *ngIf="!drawer.opened" (click)="drawer.toggle()">menu</mat-icon>
      <div>DolfieCPT</div>
    </mat-toolbar>

    <div class="main contents">
      <img src="../../assets/images/CPT.jpg">
    </div>
  </mat-drawer-container>
